<!--SECOND HOMEWORK-->
<!--<input type="text" [(ngModel)]="username">-->
<!--<button [ngStyle]="{ backgroundColor: 'yellow' }" [disabled]="username === ''" (click)="onReset()">-->
<!--  shit-->
<!--</button>-->
<!--<p>{{ username }}</p>-->

<!--THIRD HOMEWORK-->
<!--<button (click)="onClick()">Display details</button>-->
<!--<p [hidden]="clicked">Password: secret</p>-->
<!--<table  border="1">-->
<!--  <tr *ngFor="let click of clicks">-->
<!--    <td [ngClass]="{'bgblue': click >= 5}">{{ click }}</td>-->
<!--  </tr>-->
<!--</table>-->
